@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Primary Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #f03a47;
  --color-blue: #276fbf;
  --color-dark-blue: #183059;

  /* Secondary Colors */
  --color-gray: #828282;
  --color-white-smoke: #f6f4f3;
  --color-red-wood: #af5b5b;
  --color-mint: #68b684;

  /* Background Colors */
  --primary-background: #000000;
  --secondary-background: #d9d9d9;

  /* Font Sizes */
  --text-3xs: 0.625rem; /* Caption 2*/
  --text-2xs: 0.75rem; /* Caption 1*/
  --text-xs: 0.8125rem; /* Footnote */
  --text-sm: 0.875rem; /* Subheadline */
  --text-base: 1rem; /* Callout */
  --text-lg: 1.25rem; /* Body */
  --text-xl: 1.5rem; /* Headline */
  --text-2xl: 2rem; /* Title3 */
  --text-3xl: 2.25rem; /* Title2 */
  --text-4xl: 2.5rem; /* Title */
  --text-5xl: 3rem; /* Large Title */

  /* Font Family */
  --font-helvetica: Helvetica, sans-serif;

  /* Border Radius */
  --border-radius-0: 0rem;
  --border-radius-1: 0.25rem;
  --border-radius-2: 0.3125rem;
  --border-radius-3: 0.5rem;
  --border-radius-4: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica;
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 460px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (max-width: 420px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 390px) {
  html {
    font-size: 7px;
  }
}
