.textfieldBase {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.label {
  color: #000;
  font-family: Helvetica;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.placeholder {
  color: var(--Secondary-Gray, #828282);
  font-family: Helvetica;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content {
  display: flex;
  padding: 1.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  width: 100%;

  /* Font Configuration */
  color: var(--Primary-Black, #000);
  font-family: Helvetica;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content::placeholder {
  color: var(--Secondary-Gray, #828282);
  font-family: Helvetica;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.errorMessage {
  color: #d40707;
  font-family: Helvetica;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container {
  border-radius: 0.25rem;
  border: 0.0313rem solid var(--Secondary-Gray, #828282);
  background: var(--Primary-White, #fff);
}

.containerError {
  border: 0.0313rem solid var(--color-red, #f03a47);
}

.mandatory {
  color: var(--color-red, #f03a47);
}
